.card {
  background-color: rgb(238, 191, 147);
}

.card-body{
  background-color: rgb(255, 213, 158);
}

.imageheader{
  background-color: #f6f6f6;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.img {
  width: 20%;
}

.ready{
  background-color: rgb(255, 218, 162);
}

.devoured {
  background-color: rgb(228, 129, 48);
}

.devoured .delete-burger{
  visibility: hidden;
}

.devoured .change-devoured{
  visibility: hidden;
}

